<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Registration as donor</title>
        {% load staticfiles %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css'%}" />
{#    <link rel="stylesheet" type="text/css" href="font-awesome/css/font-awesome.min.css" />#}

{#    <script type="text/javascript" src="js/jquery-1.10.2.min.js"></script>#}
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js'%}"></script>
</head>
<body>
{% block content %}
{% endblock %}
</body>
</html>